---


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/faviconPuntoES.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Error 404</title>
	</head>
	<body>
		<main class="h-screen w-screen flex justify-center items-center">

            <h1>Parece que la página que buscabas no existe...</h1>
                <h2>Error 404</h2>
            
            <a href="/">Ir a inicio</a>
            <a href="/tienda">Ir a la tienda</a>
            <a href="/nosotros">Conocénos</a>
        </main>
	</body>
</html>