---
import Menu from "./Menu.astro";
import { Icon } from "astro-icon/components";
import MobileDrawer from "./MobileDrawer.astro";
import SignOutButton from "./SignOutButton.astro";

/* let user;
const sessionCookie = Astro.cookies.get("session")?.value;

if (sessionCookie) {

  user = await getUser(sessionCookie);
} */
---

<header
  class="flex items-center justify-end relative w-full h-24 bg-primary px-4"
>
  <!-- LOGO -->

  <a href="/" class="absolute w-20 left-1/2 transform -translate-x-1/2">
    <img src="../../img/PuntoESLogo.jpg" alt="PuntoES Uniformes Logo" />
  </a>

  <!-- User Menu -->
  <Menu>
    <Icon slot="button" name={"user"} size={35} color={"white"} />
    <div slot="menu-content" class="min-w-60 px-4 py-4">
 <!--      {
        user ? ( -->
          <>
            <div>
              <h1 class="text-xl">Hola {/* user?.displayName */}Pepe!</h1>
              <h2 class="text-gray-500">{/* user?.email */}email</h2>
            </div>
            <span class="block w-full h-[1px] bg-niceGray my-2" />
            <a href="/mi-perfil" class="flex justify-between text-md">
              <span>Mi perfil</span>
            </a>
            <a href="/mi-perfil-ordenes" class="flex justify-between text-md">
              <span>Mis pedidos</span>
            </a>
            <a href="/miescuela" class="flex justify-between text-md">
              <span>Mi escuela</span>
            </a>
            <span class="block w-full h-[1px] bg-niceGray my-2" />
            <SignOutButton>Cerrar sesión</SignOutButton>
          </>
       <!--  ) : ( -->
          <>
            <a href="/iniciar-sesion">
              <span>Iniciar Sesión</span>
            </a>
            <a href="/registrarse" class="flex justify-between text-md mb-1">
              <span>Registrarse</span>
            </a>
            <span class="block w-full h-[1px] bg-niceGray my-2" />
            <a href="/nosotros" class="flex justify-between text-md">
              <span>Conocénos</span>
            </a>
          </>
       <!--  )
      } -->
    </div>
  </Menu>

  <!-- Hamburguer Button -->
  <button class="p-1" id="mobile-drawer-button">
    <Icon name={"menu"} size={35} color={"white"} />
  </button>
</header>

<!-- MOBILE DRAWER -->

<MobileDrawer />
