---

---

<main class="h-screen w-screen flex flex-col justify-center items-center">

    <h1>Parece que la página que buscabas no existe...</h1>
        <h2>Error 404</h2>
    
    <a href="/">Ir a inicio</a>
    <a href="/tienda">Ir a la tienda</a>
    <a href="/nosotros">Conocénos</a>
</main>